body {
    background-color: floralwhite;
    margin:0px;
}




.container {
    display:grid;
    grid-template-columns:1fr;


}

.nav-wrapper{
    display:flex;
    justify-content:space-between;
    padding:38px;
}

.left-side{
    display:flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size:0.9em;
    text-transform:uppercase;
}

.nav-link-wrapper{
    height:22px;
    border-bottom:1px solid transparent;
    transition: border bottom 0.5s;
}

.nav-link-wrapper a {
    color: lightgray;
    text-decoration:none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover{
    border-bottom:1px solid black;

}

.nav-link-wrapper a:hover {
    color:black;
}











.container3:hover .overlay {
    width: 100%;
}




.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rosybrown;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
